<div class="d-flex justify-content-center align-items-center flex-column"> 
  <h1>Sign Up!</h1>

  <%= form_for :user, url: '/users' do |f| %>
    <div class="mb-auto p-4 w-25">
      Name: <%= f.text_field :name %>
    </div>
    <div class="mb-auto p-4 w-25">
      Email: <%= f.text_field :email %>
    </div>
    <div class="mb-auto p-4 w-25">
      Password: <%= f.password_field :password %>
    </div>
    <div class="mb-auto p-4 w-25">
      Password Confirmation: <%= f.password_field :password_confirmation %>
    </div>
    <%= f.submit "Submit", class: 'btn btn-primary'%>

  <% end %>
 </div>