<div class="d-flex justify-content-center align-items-center flex-column"> 
  <h1>Sign Up!</h1>
  <div class="margin-control">
    <%= form_for :user, url: '/users' do |f| %>
      <div class="mb-auto p-4 w-25">
        <%= f.label :first_name, "first name"%>
        <%= f.text_field :first_name %>
      </div>
      <div class="mb-auto p-4 w-25">
        <%= f.label :last_name, "first name"%>
        <%= f.text_field :last_name %>
      </div>
      <div class="mb-auto p-4 w-25">
        <%= f.label :email, "email"%>
        <%= f.text_field :email %>
      </div>
      <div class="mb-auto p-4 w-25">
        <%= f.label :password, "password"%>
        <%= f.password_field :password %>
      </div>
      <div class="mb-auto p-4 w-25">
        <%= f.label :password_confirmation, "confirm password"%>
        <%= f.password_field :password_confirmation %>
      </div>
      <%= f.submit "Submit", class: 'btn btn-primary button-centering'%>

    <% end %>
  </div>
 </div>